@import url('https://fonts.googleapis.com/css2?family=Khand:wght@500&display=swap');
body {
    font-family: 'Khand', sans-serif;
    margin: 0;
}

#ultimate {
    margin-left: -30%;
}

#mbape {
    margin-left: -20%;
}

.containar {
    position: relative;
}

.main {
    position: relative;
    width: 100%;
    height: 3em;
    background-color: #161616;
}

.nav {
    height: 3.75em;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.navbar {
    overflow: hidden;
    background-color: #000000;
    margin-left: 0%;
    height: 3.5em;
    width: 100%;
    box-shadow: 0 0.5px 8px #000000;
}

.fifa {
    float: left;
}

.blank {
    float: left;
    margin-right: 20%;
    overflow: hidden;
}

.blank1 {
    float: left;
    margin: 0 2% 0 2%;
    overflow: hidden;
}

.navbar a {
    float: left;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#home {
    margin-left: 0%;
}

.subnav {
    float: left;
    overflow: hidden;
}

.subnavbtn {
    font-size: 20px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: black;
    opacity: 0.9;
    width: 100%;
    z-index: 1;
    text-align: center;
    padding-top: 20px;
    top: 105px;
}

.subnav-content a {
    text-align: center !important;
    float: unset;
    color: white;
    text-decoration: none;
}

.navbar a:hover,
.subnav:hover .subnavbtn {
    transition: 0.2s;
    color: #8a4fff;
}

.subnav:hover .subnavbtn {
    border-bottom: solid #8a4fff 2px;
}

.subnav-content a:hover {
    color: #8a4fff;
    transition: 0.5s;
}

.subnav:hover .subnav-content {
    height: 50px;
    display: block;
}

.subnavbtn:hover {
    border-bottom: solid #8a4fff 2px;
}

.subnavbtn:hover {
    border-bottom: solid #8a4fff 2px;
}

#home:hover {
    border-bottom: solid #8a4fff 2px;
}

#contect:hover {
    border-bottom: solid #8a4fff 2px;
}

.search {
    width: 10%;
    height: 32px;
    font-size: 22px;
    background-image: url(https://media.contentapi.ea.com/content/dam/ea/fifa/fifa-21/global_assets/common/navigation/fifa21-primary-horizontal-white-nav.svg);
    background-size: 140px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    position: absolute;
}

.halland-img {
    height: 900px;
    width: 100%;
    position: absolute;
    background-image: url("koin.png"), url("franchise-hero-large-asset-name-here-16x9-xl.jpg.adapt.crop16x9.1920w.jpg");
    background-repeat: no-repeat, no-repeat;
    background-size: 25%, 100%;
    position: relative;
    background-position: 88% 230px, center;
    margin-top: 70px;
}

.hall-head {
    position: absolute;
    font-size: 65px;
    margin-left: 66%;
    top: 300px;
    font-weight: 100;
}

.hall-head2 {
    position: absolute;
    font-size: 65px;
    margin-left: 66%;
    top: 350px;
    font-weight: 100;
}

.hall-p {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    color: rgb(73, 71, 71);
    font-size: 22px;
    top: 480px;
    left: 66%;
}

.cont0 {
    height: 50px;
    width: 10%;
    margin-left: 80%;
    position: relative;
    top: 655px;
}

.join0 {
    position: absolute;
    height: 60px;
    width: 105%;
    border: solid black 2px;
    text-align: center;
    border-radius: 4px;
    transition: all 0.2s;
}

.link0 {
    width: 105%;
    position: absolute;
    top: 18px;
    margin-left: 15%
}

.link0 a {
    text-decoration: none;
    font-size: 21px;
    color: rgb(73, 71, 71);
    letter-spacing: 1.5px;
    font-family: 'Roboto', sans-serif;
}

.cont0:hover .join0 {
    transform: scale(1.04);
}

.join0:hover {
    transform: scale(1.04);
}

.cont1 {
    height: 50px;
    width: 10%;
    margin-left: 66%;
    position: relative;
    top: -245px;
    float: left;
}

.join1 {
    position: absolute;
    height: 60px;
    width: 130%;
    border: solid black 2px;
    text-align: center;
    border-radius: 4px;
    transition: all 0.2s;
}

.link1 {
    width: 130%;
    position: absolute;
    top: 18px;
    margin-left: 15%
}

.link1 a {
    text-decoration: none;
    font-size: 21px;
    color: rgb(73, 71, 71);
    letter-spacing: 1.5px;
    font-family: 'Roboto', sans-serif;
}

.cont1:hover .join1 {
    transform: scale(1.04);
}

.join1:hover {
    transform: scale(1.04);
}

.rank {
    width: 100%;
    height: 500px;
    background-image: url("hero.jpg");
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: 100% 20px;
    position: relative;
}

.rank-head {
    position: absolute;
    font-size: 60px;
    top: 70px;
    font-weight: 100;
    margin-left: 8%;
}

.rank-p {
    font-weight: 100;
    font-size: 22px;
    margin-top: 210px;
    margin-left: 8%;
    font-family: 'Roboto', sans-serif;
    color: rgb(73, 71, 71);
    position: absolute;
}

.rank-back {
    height: 50px;
    width: 10%;
    margin-left: 8%;
    position: relative;
    top: 300px;
}

.rank-for {
    position: absolute;
    height: 60px;
    width: 105%;
    border: solid rgb(73, 71, 71) 2px;
    text-align: center;
    border-radius: 4px;
    transition: all 0.2s;
}

.rank-link {
    width: 105%;
    position: absolute;
    top: 18px;
    margin-left: 15%
}

.rank-link-a {
    text-decoration: none;
    font-size: 21px;
    color: rgb(73, 71, 71);
    letter-spacing: 1.5px;
    font-family: 'Roboto', sans-serif;
}

.rank-back:hover .rank-for {
    transform: scale(1.06);
}

.rank-for:hover {
    transform: scale(1.06);
}

.ground {
    height: 400px;
    width: 100%;
    position: relative;
    background-image: url("pitch.jpg");
    background-size: 100%;
    background-position: 0% -20px;
    background-repeat: no-repeat;
}

.ground-head {
    position: absolute;
    font-size: 60px;
    font-weight: 100;
    margin-left: 60%;
    top: 0px;
}

.ground-p {
    position: absolute;
    font-weight: 100;
    font-size: 22px;
    margin-top: 170px;
    margin-left: 60%;
    font-family: 'Roboto', sans-serif;
    color: rgb(73, 71, 71);
}

.ground-back {
    height: 50px;
    width: 10%;
    margin-left: 60%;
    position: relative;
    top: 250px;
}

.ground-for {
    position: absolute;
    height: 60px;
    width: 105%;
    border: solid rgb(73, 71, 71) 2px;
    text-align: center;
    border-radius: 4px;
    transition: all 0.2s;
}

.ground-link {
    width: 105%;
    position: absolute;
    top: 18px;
    margin-left: 15%
}

.ground-link-a {
    text-decoration: none;
    font-size: 21px;
    color: rgb(73, 71, 71);
    letter-spacing: 1.5px;
    font-family: 'Roboto', sans-serif;
}

.ground-back:hover .ground-for {
    transform: scale(1.04);
}

.ground-for:hover {
    transform: scale(1.04);
}

.mount {
    height: 450px;
    width: 100%;
    position: relative;
    background-image: url("mount.jpg");
    background-size: 100%;
    background-position: 0% 0px;
    background-repeat: no-repeat;
}

.mount-head {
    position: absolute;
    font-size: 60px;
    font-weight: 100;
    margin-left: 8%;
    top: 30px;
}

.mount-p {
    position: absolute;
    font-weight: 100;
    font-size: 22px;
    margin-top: 180px;
    margin-left: 8%;
    font-family: 'Roboto', sans-serif;
    color: rgb(73, 71, 71);
}

.mount-back {
    height: 50px;
    width: 10%;
    margin-left: 8%;
    position: relative;
    top: 270px;
}

.mount-for {
    position: absolute;
    height: 60px;
    width: 105%;
    border: solid rgb(73, 71, 71) 2px;
    text-align: center;
    border-radius: 4px;
    transition: all 0.2s;
}

.mount-link {
    width: 105%;
    position: absolute;
    top: 18px;
    margin-left: 15%
}

.mount-link-a {
    text-decoration: none;
    font-size: 21px;
    color: rgb(73, 71, 71);
    letter-spacing: 1.5px;
    font-family: 'Roboto', sans-serif;
}

.mount-back:hover .mount-for {
    transform: scale(1.04);
}

.mount-for:hover {
    transform: scale(1.04);
}

.icone {
    height: 500px;
    width: 100%;
    position: relative;
    background-image: url("icone.jpg");
    background-size: 100%;
    background-position: 0% 0px;
    background-repeat: no-repeat;
}

.icone-head {
    position: absolute;
    font-size: 60px;
    font-weight: 100;
    margin-left: 35%;
    top: 30px;
    color: white;
}

.icone-p {
    position: absolute;
    font-weight: 100;
    font-size: 22px;
    margin-top: 180px;
    margin-left: 35%;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.icone-back {
    height: 50px;
    width: 10%;
    margin-left: 35%;
    position: relative;
    top: 250px;
}

.icone-for {
    position: absolute;
    height: 60px;
    width: 105%;
    border: solid white 2px;
    text-align: center;
    border-radius: 4px;
    transition: all 0.2s;
}

.icone-link {
    width: 105%;
    position: absolute;
    top: 18px;
    margin-left: 15%
}

.icone-link-a {
    text-decoration: none;
    font-size: 21px;
    color: white;
    letter-spacing: 1.5px;
    font-family: 'Roboto', sans-serif;
}

.icone-back:hover .icone-for {
    transform: scale(1.04);
}

.icone-for:hover {
    transform: scale(1.04);
}

.ea-hero {
    width: 100%;
    height: 400px;
    background-image: url(mmbape.jpg);
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 20px;
}

.get {
    position: absolute;
    color: white;
    font-size: 45px;
    margin-left: 10%;
    margin-top: 80px;
    letter-spacing: 2px;
}

.play {
    position: absolute;
    color: white;
    margin-top: 230px;
    margin-left: 10%;
    letter-spacing: 0px;
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    font-weight: 10;
    font-display: swap;
}

.cont {
    height: 50px;
    width: 10%;
    margin-left: 10%;
    position: relative;
    top: 290px;
}

.join {
    position: absolute;
    height: 50px;
    width: 100%;
    border: solid white 2px;
    text-align: center;
    border-radius: 4px;
    transition: all 0.5s;
}

.link {
    position: absolute;
    top: 13px;
    margin-left: 25%;
}

.link a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    letter-spacing: 1.5px;
}

.cont:hover .join {
    transform: scale(1.04);
}

.join:hover {
    transform: scale(1.04);
}

.gred {
    top: 0px;
    height: 500px;
    width: 100%;
    background-image: url("fotter.svg"), url("fotter.png");
    background-repeat: no-repeat, no-repeat;
    background-size: 15%, 100%;
    background-position: 50% 80px, center;
    position: relative;
}

.gred-head {
    position: absolute;
    top: 150px;
    left: 42%;
    font-size: 45px;
    color: white;
    letter-spacing: 1.5px;
    font-weight: 100;
}

.gred-para {
    position: absolute;
    top: 220px;
    left: 29%;
    font-size: 30px;
    color: white;
    letter-spacing: 1px;
}

.gred-ic {
    position: absolute;
    top: 3630px;
    background-color: #252525;
    width: 100%;
    height: 250px;
}

.fa-twitch {
    position: absolute;
    color: #fefefe;
    margin-left: 35%;
    font-size: 40px;
    float: left;
}

.fa-twitter {
    position: absolute;
    color: #fefefe;
    margin-left: 45%;
    font-size: 35px;
    float: left;
}

.fa-instagram {
    position: absolute;
    color: white;
    margin-left: 55%;
    font-size: 35px;
    float: left;
}

.fa-facebook-f {
    position: absolute;
    color: white;
    margin-left: 65%;
    font-size: 35px;
}

.fa-twitch:hover {
    transform: scale(1.2);
    transition: 0.2s;
}

.fa-twitter:hover {
    transform: scale(1.2);
    transition: 0.2s;
}

.fa-twitch .twtch {
    visibility: hidden;
    width: 10px;
    background-color: #252525;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 6px;
    font-size: 20px;
    border: solid white 1px;
    border-color: white;
}

.fa-twitch:hover .twtch {
    visibility: visible;
}

.fa-twitter .twite {
    visibility: hidden;
    width: 10px;
    background-color: #252525;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 6px;
    font-size: 20px;
    border: solid white 1px;
    border-color: white;
}

.fa-twitter:hover .twite {
    visibility: visible;
}

.fa-instagram:hover {
    transform: scale(1.2);
    transition: 0.2s;
}

.fa-instagram .inst {
    visibility: hidden;
    width: 10px;
    background-color: #252525;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 6px;
    font-size: 20px;
    border: solid white 1px;
    border-color: white;
}

.fa-instagram:hover .inst {
    visibility: visible;
}

.fa-facebook-f:hover {
    transform: scale(1.2);
    transition: 0.2s;
}

.fa-facebook-f .face {
    visibility: hidden;
    width: 10px;
    background-color: #252525;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 6px;
    font-size: 20px;
    border: solid white 1px;
    border-color: white;
}

.fa-facebook-f:hover .face {
    visibility: visible;
}

.last {
    position: relative;
    height: 200px;
    width: 100%;
    background-color: white;
    top: 250px;
    background-image: url(october-ea-ring.png);
    background-size: 6%;
    background-repeat: no-repeat;
    background-position: 38% 10px;
}